{% extends 'bases/base.html' %}

{% load widget_tweaks %}

{% block title %}
    User Management
{% endblock title %}

{% block main %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <table>
        {% include 'partials/user-list-colnames.html' with management_view=True %}
        <tbody>
            {% for user in users %}
                <form action="" method="POST">
                {% csrf_token %}
                <tr>
                    <td> {% render_field form.email value=user.email %} </td>
                    <td> {% render_field form.username value=user.username %} </td>
                    <td> {% render_field form.first_name value=user.first_name %} </td>
                    <td> {% render_field form.last_name value=user.last_name %} </td>
                    <td> {{ user.date_joined }} </td>
                    <td><input type="checkbox" name="is_staff" id="id_is_staff" {% if user.is_staff %}checked{% endif %}></td>
                    <td><input type="checkbox" name="is_superuser" id="id_is_superuser" {% if user.is_superuser %}checked{% endif %}></td>
                    <td>
                        <select name="user_type" id="id_user_type">
                            {% for choice in choices %}
                                <option value="{{ choice.0 }}" {% if user.user_type == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="checkbox" name="is_active" id="id_is_active" {% if user.is_active %}checked{% endif %}></td>
                    <td> {{ user.last_login }} </td>
                    <td> {% render_field form.password placeholder="Enter a new password." %} </td>
                    <td><button type="submit" name="edit">Save</button></td>
                    <td><button type="submit" name="delete">Delete</button></td>
                </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock main %}
