{% extends 'SB-admin-base.html' %}

{% block title %}
  User management
{% endblock title %}

{% block content %}

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User management</h1>
  <p class="mb-4">Below you will find the list containing all the users in the database. 
  You can edit their data and delete them using buttons on the right side of the table. 
  Clicking the buttons will redirect you to a separate page where you can make changes (in the case of clicking an edit button) and confirm or discard your decision.</p>

  <!-- User table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          {% include 'partials/user-list-colnames.html' %}
          {% include 'partials/user-list-colnames.html' with tfoot=True %}
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.date_joined }}</td>
              <td>{{ user.is_staff }}</td>
              <td>{{ user.is_superuser }}</td>
              <td>{{ user.get_user_type_display }}</td>
              <td>{{ user.is_active }}</td>
              <td>{{ user.last_login }}</td>
              <td><a href="{% url 'user-edit' user.email %}"><button class="btn btn-outline-info">Edit</button></a></td>
              <td><a href="{% url 'user-delete' user.email %}"><button class="btn btn-outline-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}
