{% extends 'base.html' %}

{% block title %}
    User Management
{% endblock title %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>First name</th>
                <th>Last name</th>
                <th>User type</th>
                <th>Is staff</th>
                <th>Is active</th>
                <th>Is superuser</th>
                <th>Date joined</th>
                <th>Last login</th>
                <th>Password</th>
            </tr>
        </thead>
    </table>
{% endblock body %}
