{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    User Management
{% endblock title %}

{% block body %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Joined</th>
                <th>Is staff</th>
                <th>Is superuser</th>
                <th>User type</th>
                <th>Is active</th>
                <th>Last login</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <form action="" method="POST">
                {% csrf_token %}
                <tr>
                    <td> {% render_field form.email value=user.email %} </td>
                    <td> {% render_field form.username value=user.username %} </td>
                    <td> {% render_field form.first_name value=user.first_name %} </td>
                    <td> {% render_field form.last_name value=user.last_name %} </td>
                    <td> {{ user.date_joined }} </td>
                    <td> {% render_field form.is_staff value=user.is_staff %} </td>
                    <td> {% render_field form.is_superuser value=user.is_superuser %} </td>
                    <td> {% render_field form.user_type value=user.user_type %} </td>
                    <td> {% render_field form.is_active value=user.is_active %} </td>
                    <td> {{ user.last_login }} </td>
                    <td> {% render_field form.password placeholder="Enter a new password." %} </td>
                    <td><button type="submit" name="edit">Edit</button></td>
                    <td><button type="submit" name="delete">Delete</button></td>
                </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
