{% extends 'index.html' %}

{% load ratings %}

{% block styling_and_scripts %}
<style>
    .star-ratings-rating-average, .star-ratings-rating-count, .star-ratings-rating-user {
        display: none;
    }
</style>
{% endblock styling_and_scripts %}

{% block title %}
    Movies
{% endblock title %}

{% block body %}
    <table>
        {% include 'partials/thead.html' with obj=object_list.0 %}
        <tbody>
        {% block table_content %}
            {% for movie in movies %}
            <tr>
                <td><img src="{{ movie.poster }}" alt="{{ movie.title }}"></td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.prod_year }}</td>
                <td>{{ movie.short_desc }}</td>
                <td>{{ movie.directed_by }}</td>
                <td>
                {% for person in movie.starring.all %}
                    {{ person.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
                {% block buttons %}
                <td>{% ratings movie icon_height=20 icon_width=20 %}</td>
                <td><a href="{% url 'movie-edit' movie.id %}"><button class="btn btn-outline-info">Edit</button></a></td>
                <td><a href="{% url 'movie-delete' movie.id %}"><button class="btn btn-outline-danger">Delete</button></a></td>
                {% endblock buttons %}
            </tr>
            {% endfor %}
        {% endblock table_content %}
        </tbody>
    </table>
{% endblock body %}
